# Directories
.vscode/
node_modules/
dist/
out/

# Files
*.log
*.env
*.DS_Store

# User-specific files
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# macOS specific files
.DS_Store

# TypeScript specific files
*.js
*.js.map
*.tsbuildinfo

# JavaScript specific files
*.js
*.js.map

# Python specific files
*.pyc
*.pyo
*.env
*.env.test
*.env.local

# Jupyter Notebook specific files
.ipynb_checkpoints/
*.ipynb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
